POSTGRES_USER=deuser
POSTGRES_PASSWORD=depassword
POSTGRES_HOST=postgres
POSTGRES_PORT=5432


# sau postgresql://[username]:[password]@[host]:[port]/[database_name]
SOURCE_DSN=postgresql://deuser:depassword@postgres:5432/olist_source
AIRFLOW_DB_DSN=postgresql://deuser:depassword@postgres:5432/airflow
WAREHOUSE_DSN=postgresql://deuser:depassword@postgres:5432/warehouse

GARAGE_RPC_SECRET=replace_with_64_hex_chars
GARAGE_ACCESS_KEY=gkadmin0000000000000001
GARAGE_SECRET_KEY=replace_with_strong_secret
S3_ENDPOINT_INTERNAL=http://garage:3900
S3_ENDPOINT_HOST=http://localhost:3900
LAKE_BUCKET=lake

KAGGLE_USERNAME=
KAGGLE_KEY=